fastapi
uvicorn
qdrant-client>=1.16.0
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
httpx
google-generativeai
tenacity
pytest
pytest-asyncio
asyncio
bleach
html5lib
openai
pydantic_settings
passlib[bcrypt]
python-jose[cryptography]
email-validator
